{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install Homebrew if not present
if ! command -v brew >/dev/null 2>&1; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing packages from Brewfile..."
brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"

if ! command -v cargo >/dev/null 2>&1; then
  echo "Installing Rust..."
  /bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh)"
fi

cargo install bob-nvim
bob use stable

cargo install atuin

if [ -d "$HOME/.antidote" ]; then
    echo "Antidote is already installed in $HOME/.antidote"
else
    echo "Installing antidote..."
    git clone --depth=1 https://github.com/mattmc3/antidote.git $HOME/.antidote
    echo "Antidote successfully installed to $HOME/.antidote"
fi

if command -v zsh >/dev/null 2>&1; then
  chsh -s $(which zsh)
else
  brew install zsh
  chsh -s $(which zsh)
fi

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Debian/Ubuntu example — customize as needed
echo "Updating apt and installing packages..."
sudo apt update && sudo apt install -y \
  bat \
  age \
  bat \
  btop \
  curl \
  eza \
  fd \
  gh \
  delta \
  glow \
  fzf \
  git \
  ipython \
  jq \
  jupytext \
  luarocks \
  lazydocker \
  lazygit \
  llm \
  navi \
  ollama \
  rbenv \
  ripgrep \
  sesh \
  starship \
  tmux \
  tree-sitter \
  uv \
  visidata \
  yazi \
  zoxide \
  zsh 

if ! command -v cargo >/dev/null 2>&1; then
  echo "Installing Rust..."
  /bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh)"
fi

cargo install bob-nvim
bob use stable

cargo install atuin

if [ -d "$HOME/.antidote" ]; then
    echo "Antidote is already installed in $HOME/.antidote"
else
    echo "Installing antidote..."
    git clone --depth=1 https://github.com/mattmc3/antidote.git $HOME/.antidote
    echo "Antidote successfully installed to $HOME/.antidote"
fi

chsh -s $(which zsh)

{{ end -}}
