window {
	background: #1e1e2e;
	border-radius: 10px;
	border-style: none;
	border-width: 0px;
	border-color: #1e1e2e;
	color: #1e1e2e;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 5px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 0px;
	border-color: rgba(255, 255, 255, 0.3)
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #f5c2e7;
}

button {
	padding: 2px;
	margin-left: 4px;
	margin-right: 4px;
	color: #1e1e2e;
	font-size: 10px;
}

button:hover {
	background-color: #181825;
	border-radius: 10px;
}

button:focus {
	box-shadow: none
}
